.app-container{
    display: flex;
    padding: 0px 20px 20px 20px;
}

.layout{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.home-container{
    width: 100%;
    margin-bottom: 40px;
    padding-top: 20px;
}

.title_section{
    font-size: 5rem;
    padding-top: 5px;
    padding-bottom: 10px;
    user-select: none;
}

.skills{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 15px;
}

.skill{
    width: 200px;
    height: auto;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}

.skill:hover{
    border: 2px solid var(--green);
}

.skill p{
    font-size: 5rem;
}

.skill small{
    font-size: 1.5rem;
    transition: all .5s;
    padding: 2%;
}

.skill:hover > small{
    color: var(--green);
}

.index{
    border: 2px solid rgb(59, 59, 59);
    padding: 1.5%;
    border-radius: 30px;
    width: 30%
}

.index p{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
    user-select: none;
}

span{
    color: var(--green);
}

.menu-container{
    position:sticky;
    top: 0;
    margin-right: 20px;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.btncv-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btncv{
    margin: 15px 0;
    padding: 10px;
    border: 2px solid var(--green);
    background-color: var(--black);
    border-radius: 5px;
    transition: all 1s;
    color: white;
    text-decoration: none;
}

.btncv:hover{
    cursor: pointer;
    color: black;
    border: 2px solid var(--black);
    background-color: var(--green);
}
  

.menu-container-child{
    border: 2px solid rgb(59, 59, 59);
    border-radius: 20px;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nombre{
    margin-top: 20px;
    font-size: 1.5rem;
}

.menu-container p{
    font-size: 1rem;
    text-align: center;
    padding: 0 30px 0 30px;
}

.menu-container img{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    filter: grayscale(80%);
}

.frontend-dev {
    transform: translateX(-30%);
    animation: slideIn 0.5s ease-in-out forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-30%);
    }
    to {
      transform: translateX(0);
    }
  }

.menu-container .redes{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}

.menu-container .redes .red{
    width: 50px;
    transition: all 0.8s;
}

.menu-container .redes .red:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.menu-container .redes .red img{
    width: 100%;
}

.exps-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.exp-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: 50px 5%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid var(--green);
    border-right: none;
    border-left: none;
}

.exp-container p{
    font-size: 15px;
}

.exp-container .enterprise-name{
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--green);
}

.exp-container .area-name {
    font-weight: 600;
    font-size: 1rem;
}

.certifications-container{
    width: 100%;
    margin-bottom: 100px;
}

.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.slider img{
    width: 75%;
    user-select: none;
}

.slider-button{
    margin: 10px;
    font-size: 4rem;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

.slider-button:hover{
    cursor: pointer;
    color: var(--green);
}

.projects-container{
    width: 100%;
    margin-bottom: 40px;
    padding-top: 20px;
}

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects p{
    margin-top: 80px;
    text-align: center;
}

.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.project-mobile{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.project img{
    width: 100%;
    border-radius: 10px;
}

.project img:hover{
    filter: contrast(60%);
}

/* MEDIA QUERIES */
@media screen and (max-width:1310px) {
    .menu-container{
        position:sticky;
        top: 0;
        margin-right: 20px;
        width: 60%;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .menu-container-child{
        border: 2px solid rgb(59, 59, 59);
        border-radius: 20px;
        padding-left: 2%;
        padding-right: 2%;
        height: 95%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .exps-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .exp-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 60%;
        margin: 50px 3%;
        padding: 10px;
        font-size: 1rem;
        border: 2px solid var(--green);
        border-right: none;
        border-left: none;
    }
    
    .exp-container p{
        font-size: 14px;
    }
    
    .exp-container h4{
        color: var(--green);
    }

    .title_section{
        font-size: 2.5rem;
        user-select: none;
        text-align: center;
        margin: 20px 0 20px 0;
    }

    .certifications-container{
        width: 100%;
    }
    
    .slider{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    .slider img{
        user-select: none;
    }
    
    .slider-button{
        margin: 10px;
        font-size: 4rem;
        border: none;
        cursor: pointer;
        transition: all .5s;
    }
    
    .slider-button:hover{
        cursor: pointer;
        color: var(--green);
    }
}

@media screen and (max-width:910px) {
    .app-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .layout{
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    
    .home-container{
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px;
    }


    .index{
        border: 2px solid rgb(59, 59, 59);
        padding: 1.5%;
        border-radius: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .index p{
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8%;
        user-select: none;
    }
    
    span{
        color: var(--green);
    }
    
    .menu-container{
        position:relative;
        top: 0;
        margin-right: 0px;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .menu-container-child{
        border: 2px solid rgb(59, 59, 59);
        border-radius: 20px;
        height: 95%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .nombre{
        margin-top: 20px;
        font-size: 1.5rem;
    }
    
    .menu-container p{
        font-size: 1rem;
        text-align: center;
        padding: 0 30px 0 30px;
    }
    
    .menu-container img{
        width: 60%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 15px;
        filter: grayscale(80%);
    }

    .certifications-container{
        width: 100%;
    }
    
    .slider{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    .slider img{
        width: 80%;
        user-select: none;
    }
    
    .slider-button{
        margin: 0px;
        font-size: 5rem;
        cursor: pointer;
        transition: all .5s;
    }
    
    .slider-button:hover{
        cursor: pointer;
        color: var(--green);
    }

    .exps-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .exp-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 60px 1%;
        padding: 10px;
        font-size: 1rem;
        border: 2px solid var(--green);
        border-right: none;
        border-left: none;
    }

    .projects-container{
        width: 100%;
        margin-bottom: 40px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .projects{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .projects p{
        margin-top: 80px;
        text-align: center;
    }
    
    .project{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    
    .project-mobile{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    
    .project img{
        width: 100%;
        border-radius: 10px;
    }
    
    .project img:hover{
        filter: contrast(60%);
    }

    .certifications-container{
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .slider{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    .slider img{
        width: 75%;
        user-select: none;
    }
    
    .slider-button{
        margin: 10px;
        font-size: 4rem;
        border: none;
        cursor: pointer;
        transition: all .5s;
    }
    
    .slider-button:hover{
        cursor: pointer;
        color: var(--green);
    }
}