.app-container{
    display: flex;
    padding: 20px;
}

.layout{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.home-container{
    width: 100%;
    margin-bottom: 40px;
}

.skills_title{
    font-size: 5rem;
    user-select: none;
}

.skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0px;
}

.skill{
    width: 25%;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}

.skill:hover{
    border: 2px solid var(--green);
}

.skill p{
    font-size: 5rem;
}

.skill small{
    font-size: 2rem;
    transition: all .5s;
}

.skill:hover > small{
    color: var(--green);
}

.index{
    border: 2px solid rgb(59, 59, 59);
    padding: 1.5%;
    border-radius: 30px;
    width: 20%;
    max-width: 30%;
}

.index p{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
    user-select: none;
}

span{
    color: var(--green);
}

.menu-container{
    position:sticky;
    top: 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 95vh;
    border: 2px solid rgb(59, 59, 59);
    border-radius: 20px;
}

.nombre{
    margin-top: 20px;
    font-size: 1.5rem;
}

.menu-container p{
    font-size: 1rem;
    text-align: center;
    padding: 0 30px 0 30px;
}

.menu-container img{
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    filter: grayscale(80%);
}

.frontend-dev {
    transform: translateX(-30%);
    animation: slideIn 0.5s ease-in-out forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-30%);
    }
    to {
      transform: translateX(0);
    }
  }

.menu-container .redes{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}

.menu-container .redes .red{
    width: 50px;
    transition: all 0.8s;
}

.menu-container .redes .red:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.menu-container .redes .red img{
    width: 100%;
}

.certifications-container{
    width: 100%;
}

.slider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.slider img{
    width: 720px;
    user-select: none;
}

.slider-button{
    margin: 20px;
    font-size: 4rem;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

.slider-button:hover{
    cursor: pointer;
    color: var(--green);
}

/* MEDIA QUERIES */
@media screen and (max-width:1040px) {
    
}